@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "tailwindcss";

/* 
  Tailwind CSS is being used for utility-first styling.
  Custom font variables are defined below for use in the theme.
*/
@theme {
  --font-poppins: "Poppins", sans-serif;
  --color-primary: #fd6838;
  --color-secondary: #fff5f4;

  --color-muted: #6b7280;
  --color-muted-light: #c3c3c3;
  --color-muted-dark: #8b878a;
}
